/*
 * Static: Default positioning
 */

 .box-set {
    position: relative;
    height: 400px;
    background: darkgray;
  }
  
  .box {
    width: 150px;
    height: 150px;
    background: #2db34a;
    border: 2px solid black;
  }
  /*
    NOTE: Commenting is a bit different in CSS. 
    They start with forward-slash + asterisk 
    and end with back-slash + asterisk.
    */

  /* h1 heading tag */
  h1 {
    /* Put a 15-pixel margin at the bottom of the heading. */
    margin-bottom: 15px;
    /* Change the size of your font to 60 pixels high. */
    font-size: 100px;
    /* This will color the heading font white. */
    color: orange;
    /* Align the text to the center of its enclosing element (e.g. div). */
    text-align: center;
    /* The background of the heading element will now be black. */
    background-color: rgb(177, 170, 170);
    padding: 60px
  }

  /* h2 heading tags */
  div class="container-fluid" {
    /* Put a 15-pixel margin at the top of all h2 headings. */
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 40px;
    text-align: center;
    color: orange;
    /* Bold the text. */
    font-weight: bold;
  }

  /* h3 heading tags */
  h3 {
    margin-top: 15px;
    font-size: 20px;
    text-align: left;
    /* Bold the text. */
    font-weight: bold;
  }

  /* All img tags */
  img {
    /* 
      Center a block element in the middle of its enclosing tag.
      When you use the "auto" rule on both left and right margins, 
      your browser will do the math necessary to center a block element.
      */
    margin-left: auto;
    margin-right: auto;
    /* Block display (more on this later) */
    display: block;
  }

  /* All p tags */
  p {
    text-align: left;
    font-size: 20px;
    background: lightblue
  }

  /* All unordered list tags */
  ul {
    text-align: center;
    font-size: 35px;
    /* This will color the heading font white. */
    color: orange;
    /* Give an element a solid border. */
    border-style: solid;
    /* Render the border 5 pixels thick. */
    border-width: 5px;
    /* Include bullets in the content flow. */
    /* More info here: http://www.w3schools.com/cssref/pr_list-style-position.asp */
    list-style-position: inside;
    display: block;
  }
  /* #outer
{
    width:100%;
    text-align: container;
}
.inner
{
    border-style: solid;
    text-align: left;
    /* The background of the heading element will now be black. */
    background-color: rgb(26, 86, 250);
/* } */
.navbar{
    padding: 10px;
    display: inline-black;
    margin-right: 10px;
    background: lightblue
}
.navbar li{
    display: inline-block;
    padding: 20px;
    margin-right: 10px;
    cursor: pointer;
}
.navbar li a {
    color: #000000;
    text_decoration: none;
}
.header h1 {
    height: 200px;
    padding-top: 20px;
}
.navbar-brand {
  background: rgb(252, 207, 6);
}
